---

- name: Installing docker
  become: true
  package:
    name: docker
    state: present
  tags:
    - docker

- name: Create docker group
  become: true
  user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: docker
    append: true
  tags:
    - docker

- name: Start docker service
  become: true
  service:
    name: docker
    state: started
    enabled: true
  tags:
    - docker
